<a href="https://colab.research.google.com/github/Inoueyoshito/Python_larning/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
l = [1, '22', 3, '444', 0.0, '5']

new_l = [v for v in l if isinstance(v, int)]
print(f'最大値 : {max(new_l)}')
print(f'最小値 : {min(new_l)}')

最大値 : 3
最小値 : 1

In [16]:
l = [0, '1', 3, 2, '4', 5, '7']

new_l = [v for i, v in enumerate(l) if i == int(v)]
print(f'インデックスと値が一致 : {new_l}')

インデックスと値が一致 : [0, '1', '4', 5]

In [21]:
l = [1, 2, 3, 3]

if len(set(l)) < len(l):
  print('重複している値があります')
else:
  print('重複している値がありません')

重複している値があります

In [27]:
l = [4, 'aaa', 2, 'ddd', 'ccc', 3, 1, 'bbb']

one_l = sorted([v for v in l if isinstance(v, int)])
two_l = sorted([v for v in l if isinstance(v, str)])

print(f'リストをソートすると{one_l + two_l}')

リストをソートすると[1, 2, 3, 4, 'aaa', 'bbb', 'ccc', 'ddd']

In [37]:
l = [1, 2, 3, 5]

for v in l:
  if isinstance(v, str):
    print('文字列が入っています')
    break
else:
  print('文字列が入っていません')

文字列が入っていません

In [39]:
l = [1, 2, 3, '4', 5]

if any(isinstance(v, str) for v in l):
  print('入っています')
else:
  print('入っていません')

入っています

In [45]:
l = [1, 2, 3, 4, 5]

for i in range(0, 10, 5):
  l.insert(i, 'list')
print(l)

['list', 1, 2, 3, 4, 'list', 5]

In [52]:
l = ['Python1', 'Java1', 1, 'Python2', 'Java2', 2]
new_l = [v for v in l if 'Python' not in str(v)] 
print(f'文字列"Python"を削除したリスト{new_l}')

文字列"Python"を削除したリスト['Java1', 1, 'Java2', 2]

In [4]:
l = [1, 3, 2, 3, 4, 6, 5, 8, 7]

new_l = [v for i, v in enumerate(l) if not (i % 3 == 0 and v % 3 == 0)]
print(new_l)

[1, 3, 2, 4, 6, 5, 8, 7]

In [5]:
telephone_numbers = ['080-1203-4455', '090-9372-9682', '090-3080-4982', '080-3917-5918']

new_l  = [v for v in telephone_numbers if '080' in v[:3]]
print(new_l)

['080-1203-4455', '080-3917-5918']

In [8]:
phone_numbers = ['080-1203-4455', '090-9372-9682', '03-9471-5929', '070-3917-5918', '04-8572-8910']

new_l = [v for v in telephone_numbers if v.find('-') == 3]
print(new_l)

['080-1203-4455', '090-9372-9682', '090-3080-4982', '080-3917-5918']

In [14]:
l1 = [4, 6, 9, 2]
l2 = [3, 5, 7]
l3 = [1, 9, 7]

l = [l1, l2, l3]
l_sorte = sorted(l, key=lambda v: sum(v) / len(v), reverse=True)
print(l_sorte[0])

[1, 9, 7]

In [16]:
l = (1, 2, 3)
l_1 = tuple([1, 2, 3])
print(l)
print(l_1)

(1, 2, 3)
(1, 2, 3)

In [18]:
l = (1,)
print(l)
print(type(l))

(1,)
<class 'tuple'>

In [20]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]

new_l = [tuple(l[i:i+3]) for i in range(0, 9, 3)]
print(new_l)

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [27]:
l = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for i, row in enumerate(l, start=1):
  a, b, c = row
  print(f'{i}行目の値 : {a}, {b}, {c}')

1行目の値 : 1, 2, 3
2行目の値 : 4, 5, 6
3行目の値 : 7, 8, 9

In [32]:
t = (1, '2', 3, '4', 5, '6', 7, '8', 9)
new_l = tuple(reversed(t))
print(new_l)

(9, '8', 7, '6', 5, '4', 3, '2', 1)

In [42]:
t = (1, '2', 3, '4', 5)
str_t = (str(v) for v in t)
converted_int  = int(''.join(str_t))
print(converted_int)p

<generator object <genexpr> at 0x7f4c4cabc6d0>
12345

In [48]:
t = (1, [2, 3], '4', (5, 6, 7), '8', (9, 10))
new_t = [v for v in t if isinstance(v, tuple)]
print(len(new_t))

2

In [52]:
t = (1, [2, 3], '4', (5, 6, 7), None, (9, 10))

t_to_tuple = []
for v in t:
  if isinstance(v, tuple):
    t_to_tuple.append(v)
  elif isinstance(v, list):
    t_to_tuple.append(tuple(v))
  else:
    t_to_tuple.append((v, ))
print(f'変換したタプル : {tuple(t_to_tuple)}')

変換したタプル : ((1,), (2, 3), ('4',), (5, 6, 7), (None,), (9, 10))

In [53]:
print({1, 2, 3})
print('set()')

{1, 2, 3}
set()

In [55]:
l1 = [1, 2, 3, 4, 5]
l2 = [7, 6, 5, 4]

r = set(l1) | set(l2) 
print(r)

{1, 2, 3, 4, 5, 6, 7}

In [59]:
l1 = [1, 2, 3, 4, 5]
l2 = [7, 6, 5, 4]

c = []
for i in l1:
  if i not in l2:
    c.append(i)
print(set(c))

{1, 2, 3}

In [60]:
l1 = [1, 2, 3, 4, 5]
l2 = [7, 6, 5, 4]
r = set(l1) - set(l2)
print(r)

{1, 2, 3}

In [63]:
l1 = [1, 2, 3, 4, 5]
l2 = [7, 6, 5, 4]

r = set(l1) ^ set(l2)
print(r)

{1, 2, 3, 6, 7}

In [1]:
l1 = [1, 2, 3, 4, 5]
l2 = [3, 4, 5]

print(f'l1はl2に含まれている : {set(l1).issubset(set(l2))}')
print(f'l1はl2に含まれている : {set(l2).issubset(set(l1))}')

l1はl2に含まれている : False
l1はl2に含まれている : True

In [3]:
d = {'A': 111, 'B': 222, 'C': 333}

d.update({'D': 444})
print(F'1つ目のパターン　：　{d}')
d['D'] = 444
print(d)

1つ目のパターン　：　{'A': 111, 'B': 222, 'C': 333, 'D': 444}
{'A': 111, 'B': 222, 'C': 333, 'D': 444}

In [4]:
d1 = {'A': 111, 'B': 222, 'C': 333}
d2 = {'D': 444, 'E': 555}
d3 = {'F': 666}

new_d = {}
for d in [d1, d2, d3]:
  new_d.update(d)

print(new_d)

{'A': 111, 'B': 222, 'C': 333, 'D': 444, 'E': 555, 'F': 666}

In [9]:
d1 = {'A': 111, 'B': 222, 'C': 333}
d2 = {'D': 444, 'E': 555}
d3 = {'F': 666}
new_d = {**d1, **d2, **d3}
print(new_d)

{'A': 111, 'B': 222, 'C': 333, 'D': 444, 'E': 555, 'F': 666}

In [15]:
d = {'A': 111, 'B': 222, 'C': 333}
result = 'A' in d.keys()
print(result)

True

In [14]:
d = {'A': 111, 'B': 222, 'C': 333}
result = '444' in d.values()
print(result)

False

In [1]:
keys = ['A', 'B', 'C']
values = [111, 222 ,333]
d = dict(zip(keys, values))
print(d)

{'A': 111, 'B': 222, 'C': 333}

In [4]:
keys = ['A', 'B', 'C']
values = [111, 222 ,333]
d = {key:value for key, value in zip(keys, values)}
print(d)

{'A': 111, 'B': 222, 'C': 333}

In [10]:
d = {'A': 111, 'B': 222, 'C': 333}

new_d = {k:v for k, v in d.items() if v > 150}
print(new_d)

{'B': 222, 'C': 333}

In [13]:
d = {'A': 111, 'B': 222, 'C': 333}
l = ['B', 'C', 'D', 'A']

for key in l:
  print(f'{key}に対応するValue : {d.get(key)}')

Bに対応するValue : 222
Cに対応するValue : 333
Dに対応するValue : None
Aに対応するValue : 111

In [20]:
d = {'B': 222, 'A': 111, 'D': 444, 'C': 333}
new_d = sorted(d.items(), reverse=True)
print(new_d)

[('D', 444), ('C', 333), ('B', 222), ('A', 111)]

In [27]:
d = {'B': 222, 'A': 111, 'D': 333, 'C': 444}
new_d = dict(sorted(d.items(), key=lambda x: x[1]))
print(new_d)

{'A': 111, 'B': 222, 'D': 333, 'C': 444}

In [39]:
l = [{'id': 10000, 'feature': {'name': 'Michael', 'height': 180.3, 'weight': 63.7, 'skills': {'IT': ['Python', 'Golang', 'SQL'], 'Others': ['Chinese', 'Math']}}}, 
{'id': 10001, 'feature': {'name': 'Nancy', 'height': 156.7, 'weight': 39.7, 'skills': {'IT': ['Java', 'SQL', 'JavaScript'], 'Others': ['Accounting']}}}]

print(l[0]['feature']['skills']['Others'][0])

Chinese

In [41]:
l = [{'id': 10000, 'feature': {'name': 'Michael', 'height': 180.3, 'weight': 63.7, 'skills': {'IT': ['Python', 'Golang', 'SQL'], 'Others': ['Chinese', 'Math']}}}, 
{'id': 10001, 'feature': {'name': 'Nancy', 'height': 156.7, 'weight': 39.7, 'skills': {'IT': ['Java', 'SQL', 'JavaScript'], 'Others': ['Accounting']}}}]

it_skills = [d['feature']['skills']['IT'] for d in l]
micheael_skill, nancy_skill = it_skills
common_skill = set(micheael_skill) & set(nancy_skill)
print(common_skill)

{'SQL'}

In [47]:
d = {'B': 222, 'A': 111, 'D': 444, 'C': 333}
new_d = max(d.values())
print(new_d)

444

In [52]:
d = {'B': 222, 'A': 111, 'D': 444, 'C': 333}

new_d = min(d.keys(), key=lambda k: d[k])
print(new_d)

A

In [59]:
target = {}
if target == {}:
  print('空の辞書です')
else:
  print(target)

空の辞書です

In [62]:
d = {'B': 222, 'A': 111, 'D': 444, 'C': 333}

new_d = {k: v for k, v in d.items() if v % 2 == 0}
print(new_d)

{'B': 222, 'D': 444}

In [64]:
d = {'B': 222, 'A': 111, 'D': 444, 'C': 333}

new_d = d.copy()
for k, v in d.items():
  if v % 2 != 0:
    del new_d[k]
print(new_d)

{'B': 222, 'D': 444}